<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 >registration</h1>
<form action="#" th:action="@{/registration}" th:object="${userRegistrationDTO}" method="post" enctype="utf8">
    <label th:for="name">Name</label>
    <input th:field="*{name}">
    <label th:for="login">Login</label>
    <input th:field="*{login}">
    <label th:for="password">Password</label>
    <input th:field="*{password}">
    <label th:for="confirmPassword">Confirm Password</label>
    <input th:field="*{confirmPassword}">
    <button type="submit">submit</button>
</form>
</body>
</html>